@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-detail-red {
    color: #e53935;
  }
  .bg-detail-red {
    background-color: #e53935;
  }
  .border-detail-red {
    border-color: #e53935;
  }
}
